@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ImageResizer</h1>


    <div class="row">
        <div class="col-md-4">
            <img width="300" height="300" class="img-img-fluid" src="~/images/coding.png?w=300&h=300&mode=stretch"/>
        </div>
        <div class="col-md-4">
            <img width="300" height="300" class="img-img-fluid" src="~/images/e.jpg?w=300&h=300&mode=stretch"/>
        </div>
        <div class="col-md-4">
            <img width="300" height="300" class="img-img-fluid" src="~/images/eeeee.webp?w=300&h=300&mode=stretch"/>
        </div>
    </div>
</div>
